{
    "name": "io.github.sophiebluevr.armaturereset",
    "version": "${VERSION}",
    "displayName": "Sophie's Armature Reset",
    "description": "A simple tool to reset an armature to its default position, if part of a model prefab",
    "type": "tool",
    "unity": "2019.4",
    "hideInEditor": "false",
    "author": {
        "name": "SophieBlue",
        "url": "https://github.com/SophieBlueVR"
    },
    "documentationUrl": "https://github.com/SophieBlueVR/ArmatureReset",
    "changelogUrl": "https://github.com/SophieBlueVR/ArmatureReset/blob/main/CHANGELOG.md",
    "licenseUrl": "https://github.com/SophieBlueVR/ArmatureReset/blob/main/LICENSE.txt",
    "license": "MIT",
    "url": "https://github.com/SophieBlueVR/ArmatureReset/releases/download/v${VERSION}/ArmatureReset-v${VERSION}.zip",
    "repo": "https://SophieBlueVR.github.io/vpm/index.json",
    "legacyFolders" : {
        "Assets\\SophieBlue\\ArmatureReset": "e28b2d1d1cf6db59685e9d9ffc843e2f"
    },
    "vpmDependencies": {
        "com.vrchat.avatars": "~3"
    }
}
